<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 >Quora post</h1>
    <% for(let post of posts) { %>
        <div class="post">
            <h3 class="username">@ <%= post.username %></h3>
            <p class="content"><%= post.content %></p>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">show in detail</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">edit post</a>
            <form method="post" action="/post/<%=post.id%>?_method=DELETE">
                
            <br>
            <button>delete post</button>
            </form>
        </div>
        
    <% } %>

    <br>
    <a href="http://localhost:8080/posts/new"> add new post</a>
</body>
</html>